html, body {
    
    background-image: linear-gradient(to right bottom, #ffba00, #ee9d0d, #da8115, #c3661a, #aa4e1b);
}

nav{
    height: 120px;
}
.branco{
    color:rgba(255, 255, 255, 0.842) !important;
}
.gapfig{
    display: flex;
    justify-content: space-between;
}
.fontemonte{
    font-size: 30px !important;
}
.gapfrases{
    display: flex;
    justify-content: space-between;
}
.textocentro{
    text-align: center;
}

.carousel{
    margin: auto;
    width: 80rem;
}
.marginleft{
    margin-left: 18rem;
}
.back{
    background-color: #ff6800;
}
.backfrases{
    background-color: #30444e !important;
}
.border{
    background-color: #212529 !important;
}
.font{
    color: whit;
}
.centro{
    justify-content: center;
}