html,
body {

    background-image: linear-gradient(to right bottom, #ffba00, #ee9d0d, #da8115, #c3661a, #aa4e1b);

}

/* #navtop {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}*/

#navtop {

    height: 120px;
}

.branco {
    color: rgba(255, 255, 255, 0.842) !important;
}

.gapfig {
    display: flex;
    justify-content: space-between;
}

.fontemonte {
    font-size: 30px !important;
}

.gapfrases {
    display: flex;
    justify-content: space-between;
}

.textocentro {
    text-align: center;
}

.carousel {
    margin: auto;
    width: 80rem;
}

.marginleft {
    margin-left: 18rem;
}

.back {
    background-color: #ff6800;
}

.backfrases {
    background-color: #30444e !important;
}

.border {
    background-color: #212529 !important;
}

.font {
    color: white;
}

.centro {
    justify-content: center !important;
}

.pad {
    padding: 180px;
}

#navbot{
    height: 170px;
}

.nosub {
    text-decoration: none;
}

.mgtop{
    margin-top: 10px !important;
}

.mg{
    margin-inline: 150px !important;
}
.wdtf{
    width: 300px !important;
}