html, body {
    
    background-image: linear-gradient(to right bottom, #ffba00, #ee9d0d, #da8115, #c3661a, #aa4e1b);
}

nav{
    height: 120px;
}
.branco{
    color:white !important;
}
.gapfig{
    display: flex;
    justify-content: space-between;
}
.fontemonte{
    font-size: 30px !important;
}
.gapfrases{
    display: flex;
    justify-content: space-between;
}
.textocentro{
    text-align: center;
}